<header>
    <h1>Murph's Meat-Up™</h1>
</header>

<body>
    <div class="container">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/dancing_meat.gif" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" />Welcome to the new normal ...
                <i class="material-icons right" />more_vert</i>
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" />Card Title
                <i class="material-icons right" />close</i>
                </span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <h2>Who? What?</h2>

        <p class="text">Murph is a gentleman of the South who loves meat. In fact, he loves meat so much that he doesn't eat anything else.
            A few people have raised eyebrows about this dietary practice, but the man is alive and healthy. In fact, he
            wants to share his appreciation of animal flesh with the rest of the world, which is why he started Murph's Meat-Up™.
            As the name might suggest, people gather around for a cook out and bring along their choice of meat. There is
            no need for a side dish, because why have a side when you can just have more meat? Exactly. The Meat-Up™ happens
            on the first Sunady of every month, starting around 1:00pm in Murph's backyard on the special grill. If you are
            intested in attending the next Meat-Up™, then hit the button below and become a Meat User!
        </p>


        <div id="button-pad">
            <div class="center-align">
                <a class="waves-effect waves-light btn teal lighten-1" href="/users">
                    <i class="material-icons left">restaurant</i>Let there be meat!!</a>
            </div>
        </div>
    </div>
</body>