<header>
    <h1>Murph's Meat-Up™</h1>
</header>

<h2>New Attendee</h2>

<body>
    <div class="container">
        <!-- Page Content goes here -->

        <div class="row">
            <form method="POST" action="/users" class="col s12 white">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="image" type="text" class="validate" name="image" />
                        <label class="active" for="image">Image URL</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" name="name" />
                        <label class="active" for="name">Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="gender" type="text" class="validate" name="gender" />
                        <label class="active" for="gender">Gender</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="age" type="text" class="validate" name="age" />
                        <label class="active" for="age">Age (number of years)</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="hobbies" type="text" class="validate" name="hobbies" />
                        <label class="active" for="hobbies">Hobbies</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="meat" type="text" class="validate" name="meat" />
                        <label class="active" for="meat">MEAT</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="preparation" type="text" class="validate" name="preparation" />
                        <label class="active" for="preparation">Preparation</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input disabled id="side" type="text" class="validate" name="side" />
                        <label class="active" for="disabled">Side</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn waves-effect waves-light teal lighten-1" type="submit" name="action" />I'm bringing my meat!
                    <i class="material-icons left">restaurant</i>
                    </button>
                </div>
                </br>

            </form>
        </div>
    </div>


</body>