<body>
    <header>
        <h1>We Gots The Meats!</h1>
    </header>

    <div id="button-pad">
        <div class="center-align">
            <a class="waves-effect waves-light btn teal lighten-1" href="/users">
                <i class="material-icons left">home</i>Take me home (country roads)</a>
        </div>
    </div>

    <h2>Edit {{attendee.name}}'s Meat</h2>

    <div class="container">